/* Mixins */
* {
	box-sizing: border-box;
} 
/* ------------- MIXINS --------------*/
@mixin push--auto {
	margin: {
		left: auto;
		right: auto;
	}
}
@mixin justCont($value) {
	-webkit-justify-content: $value;
	justify-content: $value;
}
@mixin alignItems($value) {
	-webkit-align-items: $value;
	align-items: $value;
}
@mixin alignBoth($value1, $value2) {
	-webkit-justify-content: $value1;
	justify-content: $value1;
	-webkit-align-items: $value2;
	align-items: $value2;
}
@mixin flexWrap($value) {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
@mixin flexDir($value) {
	-webkit-flex-direction: $value;
	flex-direction: $value;
} 
@mixin trans($time: 0.3s, $objects: all) {
	-webkit-transition: $time $objects;
	transition: $time $objects;
} 
@mixin bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
// @extend 
.flex {
	display: -webkit-flex;
	display: flex;
}
.text-ellipsis {	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@include font-face(Montserrat-Regular, fonts/Montserrat-Regular, null, null, ttf);
@include font-face(acaslonpro-bolditalic, fonts/acaslonpro-bolditalic, null, null, ttf);
@include font-face(KabelITC-Book, fonts/KabelITC-Book, null, null, ttf);

$blue : #12408E;
$silver-text: #939598;
$dark-grey: #636466;
$textFont: "Montserrat-Regular";
$titleFont: "acaslonpro-bolditalic";
$footerText: "KabelITC-Book";
$tablet-width: 768px;
$desktop-width: 1024px;
$modile-width: 480px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin mobile {
	@media (max-width: #{$tablet-width - 1px}) {
	    @content;
	}	
}

@mixin width480 {
	@media (max-width: #{$modile-width}) {
	    @content;
	}	
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

/* Contact Form Start */
#fourth-block {
	padding: 40px 40px 47px;
	background: #dcddde;

	#contact-form {
		display: block;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
	}

	.contact-form-wrap {
		width: 80%;
		max-width: 880px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		@extend .flex;
		@include alignBoth(center, center);
		@include flexDir(column);	
		margin: 0 auto;

		h3 {
			margin-top: 35px;
			margin-left: 3px;
			margin-bottom: 0;
			padding: 0;
			font-family: $titleFont;
			font-size: 56px;
			color: $blue;
			text-align: center;
			text-transform: capitalize;
			font-style: italic;
			font-weight: normal;
		}

		.form-desc {
			font-family: $textFont;
			font-size: 14px;
			text-align: center;
			color: $dark-grey;
			letter-spacing: 0.15px;
		}

		.full-name-wrap {
			padding-top: 25px;
			@extend .flex;
			@include alignBoth(space-between, center);
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

			.form-group {
				display: block;
				width: 47%;
			}
		}

		input {
			height: 28px;
			width: 100%;
			display: block;
			margin-bottom: 30px;
			border: 1px solid $dark-grey;
			background: #fff;
			font-family: $textFont;
			font-size: 14px;
			padding-left: 10px;
			color: $dark-grey;
			font-weight: bold;
		}

		input[type="submit"] {
			height: 116px;
			width: 116px;
			display: block;
			position: relative;
			top: 8px;
			margin: 0 auto;
			background: $blue;
			border: none;
			border-radius: 50%;
			color: #fff;
			font-family: $textFont;
			font-size: 25px;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: .2px;
		}
	}
}
/* Contact Form End */
/* Footer Start */
footer {
	@extend .flex;
	background: $blue;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	@include alignBoth(space-between, center);
	padding: 30px 30px 200px 30px;

	@include mobile {
		padding: 30px 30px 5px 30px;		
	}

	.content-wrap {
		display: block;
		width: 80%;
		max-width: 1010px;
		margin: 0 auto;
		-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;	

		.top-line {
			@extend .flex;
			@include alignBoth(center, center);
			margin-bottom: 82px;

			@include mobile {
				margin-bottom: 50px;				
			}

			ul {
				@extend .flex;
				@include alignBoth(center, center);
				width: 100%;
				margin: 0;
				padding: 0;

				li {
					display: block;	
					padding: 0 15px;
					position: relative;
					font-family: $textFont;
					font-size: 16px;
					font-weight: bold;
					color: #fff;
					letter-spacing: 0.65px;
					font-weight: normal;
				}

				li:nth-child(1) {
					border-right: 1px solid #fff;
					left: 17px;
					top: 2px;
				}

				li:nth-child(2) {
					left: 19px;
					top: 2px;
				}
			}
		}
	}

	.main-info {
		@extend .flex;
		@include alignBoth(space-between, center);

		@include mobile {
			@include flexDir(column);
			display: -webkit-flex;
			display: flex;
			@include alignBoth(center, center);
		}
	}

	.logo-wrap {
		height: 50px;
		width: 165px;
		display: block;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin-left: 18px;

		img {
			max-width: 100%;
		}
	}

	.copyright {
		padding-top: 20px;
		padding-left: 20px;
		position: relative;
		bottom: 4px;
		font-family: "Montserrat-Regular";
		font-size: 16px;
		color: #fff;
	}

	.column {
		display: block;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 50%;

		@include mobile {
			margin: 0 auto;
			width: 100%;
			@include flexDir(column);
			display: -webkit-flex;
			display: flex;
			@include alignBoth(center, center);
		}
	}

	.column:nth-child(2) {
		@include mobile {
			margin-top: 50px;
		}
	}

	.creator-agency-logo-wrap {
		float: right;
		padding-bottom: 6px;

		img {
			position: relative;
			bottom: 10px;
			left: 13px;
		}
	}

	.designed-by {
		@extend .flex;
		width: 100%;
		position: relative;
		bottom: 9px;
		left: 10px;

		ul {
			@extend .flex;
			@include alignBoth(flex-end, center);
			position: relative;
			margin: 0;
			padding: 0;
			width: 100%;

			@include mobile {
				@include alignBoth(center, center);
			}

			li {
				font-family: $footerText;
				font-size: 15px;
				color: #fff;
				list-style: none;

				span {
					font-weight: bold;
				}
			}

			li:nth-child(1) {
				border-right: 1px solid #fff;
				padding-right: 15px;
			}

			li:nth-child(2) {
				padding-left: 17px;
			}
		}
	}
}
/* Footer End */