* {
	box-sizing: border-box;
}

body { 
 	background: white;
 } 

 $blue : #12408E;
 $silver-text: #939598;

 $textFont: "Montserrat-Regular";
 $titleFont: "acaslonpro-bolditalic";

$tablet-width: 768px;
$mobile-width: 540px;

$tablet: "(min-width: 768px)";
$mobile: "(min-width: 540px)";

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: #{$mobile-width}) {
    @content;
  }
}

/* ------------- MIXINS --------------*/

@mixin push--auto {
  margin: {
   left: auto;
   right: auto;
  }
}
 
@mixin justCont($value) {
	-webkit-justify-content: $value;
	justify-content: $value;
}

@mixin alignItems($value) {
	-webkit-align-items: $value;
	align-items: $value;
}

@mixin alignBoth($value1, $value2) {
	-webkit-justify-content: $value1;
	justify-content: $value1;
	-webkit-align-items: $value2;
	align-items: $value2;
}

@mixin flexWrap($value) {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

@mixin flexDir($value) {
	-webkit-flex-direction: $value;
	flex-direction: $value;
} 

@mixin trans($time: 0.3s, $objects: all) {
	-webkit-transition: $time $objects;
	transition: $time $objects;
} 

@mixin bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
} 

//  @extend 
.flex {
	display: -webkit-flex;
	display: flex;
}

.text-ellipsis {	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.wrapper {
	.container {
		position: relative;
		.header {
			width: 95%;
			max-width: 1050px;
			margin: 0 auto;
			position: absolute;
			top: 0;
			left: 50%;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%); 
			padding: 25px 8px 5px 38px;
			@extend .flex;
			@include justCont(space-between);
			.nav-menu-wrap {
				.navigation-list {
					margin-top: 25px;
					@extend .flex;
					list-style: none; 
					li:last-child a {
						margin-right: 0;
					}
					a {
						margin: 0 36px;
						text-decoration: none;
						text-transform: uppercase;
						color: $blue;
						font: bolder 15px $textFont, sans-serif; 
					}
				}
			}
		}
		#first-block {
			width: 100%; 
			padding: 0 5%;
			background-image: url(../images/bg-first-screen.png);
			@include bg();
			height: 607px;
			@extend .flex;
			@include alignBoth(center, center);
			.motto-wrap {
				position: relative;
				padding: 39px 0 60px;
				left: -14px;
				top: 27px;
				.circle {
					display: block;
					position: absolute;
					height: 245px;
					width: 245px;
					top: 23px;
					left: 33px;
					background: #1D4A96;
					border-radius: 50%; 
				}
				.text {
					position: relative;
					padding: 39px 0 19px;
					z-index: 1;
					margin-left: 65px;
				}
				.motto-small-text {
					font: 20px $textFont, sans-serif;
					color: $blue;
					margin: 0;
					padding-left: 107px;
					position: relative; 
					top: 12px;
					.inside-circle {
						margin-right: 15px;
					}
				}
				.motto-big-text {
					color: #1D4A96;
					margin: 0;
					letter-spacing: 2.5px;
					text-transform: uppercase;
					font: 62px $textFont, sans-serif;
				}				
				span.inside-circle {
					color: white;
					letter-spacing: normal;
				}
			}
		}
		#second-block {
			background-color: white;
			max-width: 1004px;
			width: 95%;
			margin-left: auto;
			margin-right: auto;
			padding: 40px 0;
			margin-bottom: 91px;
			.text {
				color: $silver-text;
				font: 12px $textFont, sans-serif;
				margin-bottom: 20px; 
			}
			.secondary-title {
				text-align: center;
				color: $blue;
				font: 64px $titleFont, sans-serif;
				margin: 68px 0 27px;
			}
		}
		#third-block {
			background-image: url(../images/bg.png);
			@include bg();
			position: relative;
			.blue-block	{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $blue;
				opacity: 0.4;
			}
			.features-wrap {
				max-width: 1000px; 
				width: 90%;
				margin-left: auto;
				position: relative;
				z-index: 1;
				left: -3px;
				margin-right: auto;
				@extend .flex;
				@include justCont(space-between);
				.feature {
					margin: 65px 0 95px;
					width: 27%;
					.icon-wrap {
						margin-bottom: 50px;
						text-align: center;
						height: 171px;
						@extend .flex;
						@include alignBoth(center, center);
						img { 
							max-width: 100%; 
							width: auto;
							position: relative;
							left: -11px;
							max-height: 100%;
						}
					}
					.feature-desc {
						color: white;
						text-align: center;
						letter-spacing: 0.3px;
						font: 25px $textFont, sans-serif;
					}
				}

				.feature:first-child img {
					left: -33px;
				}
				.feature:nth-child(2) img {
					left: -21px;
				}				
					
				 @media #{$tablet} {
				 	& {
				 		-webkit-flex-wrap: wrap;
				 		flex-wrap: wrap;
				 		padding: 25px 0;
				 	}
				 	.feature {
				 		width: 90%;
				 		max-width: 450px;
				 		margin: 20px auto; 
				 		display: -webkit-flex;
				 		display: flex;
				 		-webkit-align-items: center;
				 		align-items: center;
				 		.icon-wrap {
				 			height: auto; 
				 		}
				 	}
				 }
			}
		}
	}
}