/* Mixins */
/* line 2, ../sass/serhii.scss */
* {
  box-sizing: border-box;
}

/* ------------- MIXINS --------------*/
/* line 44, ../sass/serhii.scss */
.flex, #fourth-block .contact-form-wrap, #fourth-block .contact-form-wrap .full-name-wrap, footer, footer .content-wrap .top-line, footer .content-wrap .top-line ul, footer .main-info, footer .designed-by, footer .designed-by ul {
  display: -webkit-flex;
  display: flex;
}

/* line 48, ../sass/serhii.scss */
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "acaslonpro-bolditalic";
  src: url("fonts/acaslonpro-bolditalic.ttf") format("truetype");
}
@font-face {
  font-family: "KabelITC-Book";
  src: url("fonts/KabelITC-Book.ttf") format("truetype");
}
/* Contact Form Start */
/* line 123, ../sass/serhii.scss */
#fourth-block {
  padding: 40px 40px 47px;
  background: #dcddde;
}
/* line 127, ../sass/serhii.scss */
#fourth-block #contact-form {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 135, ../sass/serhii.scss */
#fourth-block .contact-form-wrap {
  width: 80%;
  max-width: 880px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
}
/* line 146, ../sass/serhii.scss */
#fourth-block .contact-form-wrap h3 {
  margin-top: 35px;
  margin-left: 3px;
  margin-bottom: 0;
  padding: 0;
  font-family: "acaslonpro-bolditalic";
  font-size: 56px;
  color: #12408E;
  text-align: center;
  text-transform: capitalize;
  font-style: italic;
  font-weight: normal;
}
/* line 160, ../sass/serhii.scss */
#fourth-block .contact-form-wrap .form-desc {
  font-family: "Montserrat-Regular";
  font-size: 14px;
  text-align: center;
  color: #636466;
  letter-spacing: 0.15px;
}
/* line 168, ../sass/serhii.scss */
#fourth-block .contact-form-wrap .full-name-wrap {
  padding-top: 25px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 176, ../sass/serhii.scss */
#fourth-block .contact-form-wrap .full-name-wrap .form-group {
  display: block;
  width: 47%;
}
/* line 182, ../sass/serhii.scss */
#fourth-block .contact-form-wrap input {
  height: 28px;
  width: 100%;
  display: block;
  margin-bottom: 30px;
  border: 1px solid #636466;
  background: #fff;
  font-family: "Montserrat-Regular";
  font-size: 14px;
  padding-left: 10px;
  color: #636466;
  font-weight: bold;
}
/* line 196, ../sass/serhii.scss */
#fourth-block .contact-form-wrap input[type="submit"] {
  height: 116px;
  width: 116px;
  display: block;
  position: relative;
  top: 8px;
  margin: 0 auto;
  background: #12408E;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-family: "Montserrat-Regular";
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2px;
}

/* Contact Form End */
/* Footer Start */
/* line 217, ../sass/serhii.scss */
footer {
  background: #12408E;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 30px 30px 200px 30px;
}
@media (max-width: 767px) {
  /* line 217, ../sass/serhii.scss */
  footer {
    padding: 30px 30px 5px 30px;
  }
}
/* line 230, ../sass/serhii.scss */
footer .content-wrap {
  display: block;
  width: 80%;
  max-width: 1010px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 239, ../sass/serhii.scss */
footer .content-wrap .top-line {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 82px;
}
@media (max-width: 767px) {
  /* line 239, ../sass/serhii.scss */
  footer .content-wrap .top-line {
    margin-bottom: 50px;
  }
}
/* line 248, ../sass/serhii.scss */
footer .content-wrap .top-line ul {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* line 255, ../sass/serhii.scss */
footer .content-wrap .top-line ul li {
  display: block;
  padding: 0 15px;
  position: relative;
  font-family: "Montserrat-Regular";
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.65px;
  font-weight: normal;
}
/* line 267, ../sass/serhii.scss */
footer .content-wrap .top-line ul li:nth-child(1) {
  border-right: 1px solid #fff;
  left: 17px;
  top: 2px;
}
/* line 273, ../sass/serhii.scss */
footer .content-wrap .top-line ul li:nth-child(2) {
  left: 19px;
  top: 2px;
}
/* line 281, ../sass/serhii.scss */
footer .main-info {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 767px) {
  /* line 281, ../sass/serhii.scss */
  footer .main-info {
    -webkit-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
  }
}
/* line 293, ../sass/serhii.scss */
footer .logo-wrap {
  height: 50px;
  width: 165px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 18px;
}
/* line 302, ../sass/serhii.scss */
footer .logo-wrap img {
  max-width: 100%;
}
/* line 307, ../sass/serhii.scss */
footer .copyright {
  padding-top: 20px;
  padding-left: 20px;
  position: relative;
  bottom: 4px;
  font-family: "Montserrat-Regular";
  font-size: 16px;
  color: #fff;
}
/* line 317, ../sass/serhii.scss */
footer .column {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
}
@media (max-width: 767px) {
  /* line 317, ../sass/serhii.scss */
  footer .column {
    margin: 0 auto;
    width: 100%;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
  }
}
@media (max-width: 767px) {
  /* line 334, ../sass/serhii.scss */
  footer .column:nth-child(2) {
    margin-top: 50px;
  }
}
/* line 340, ../sass/serhii.scss */
footer .creator-agency-logo-wrap {
  float: right;
  padding-bottom: 6px;
}
/* line 344, ../sass/serhii.scss */
footer .creator-agency-logo-wrap img {
  position: relative;
  bottom: 10px;
  left: 13px;
}
/* line 351, ../sass/serhii.scss */
footer .designed-by {
  width: 100%;
  position: relative;
  bottom: 9px;
  left: 10px;
}
/* line 358, ../sass/serhii.scss */
footer .designed-by ul {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}
@media (max-width: 767px) {
  /* line 358, ../sass/serhii.scss */
  footer .designed-by ul {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
  }
}
/* line 370, ../sass/serhii.scss */
footer .designed-by ul li {
  font-family: "KabelITC-Book";
  font-size: 15px;
  color: #fff;
  list-style: none;
}
/* line 376, ../sass/serhii.scss */
footer .designed-by ul li span {
  font-weight: bold;
}
/* line 381, ../sass/serhii.scss */
footer .designed-by ul li:nth-child(1) {
  border-right: 1px solid #fff;
  padding-right: 15px;
}
/* line 386, ../sass/serhii.scss */
footer .designed-by ul li:nth-child(2) {
  padding-left: 17px;
}

/* Footer End */
