/* line 1, ../sass/styles.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/styles.scss */
body {
  background: white;
}

/* ------------- MIXINS --------------*/
/* line 81, ../sass/styles.scss */
.flex, .wrapper .container .header, .wrapper .container .header .nav-menu-wrap .navigation-list, .wrapper .container #first-block, .wrapper .container #third-block .features-wrap, .wrapper .container #third-block .features-wrap .feature .icon-wrap {
  display: -webkit-flex;
  display: flex;
}

/* line 86, ../sass/styles.scss */
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 93, ../sass/styles.scss */
.wrapper .container {
  position: relative;
}
/* line 95, ../sass/styles.scss */
.wrapper .container .header {
  width: 95%;
  max-width: 1050px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 25px 8px 5px 38px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 108, ../sass/styles.scss */
.wrapper .container .header .nav-menu-wrap .navigation-list {
  margin-top: 25px;
  list-style: none;
}
/* line 112, ../sass/styles.scss */
.wrapper .container .header .nav-menu-wrap .navigation-list li:last-child a {
  margin-right: 0;
}
/* line 115, ../sass/styles.scss */
.wrapper .container .header .nav-menu-wrap .navigation-list a {
  margin: 0 36px;
  text-decoration: none;
  text-transform: uppercase;
  color: #12408E;
  font: bolder 15px "Montserrat-Regular", sans-serif;
}
/* line 125, ../sass/styles.scss */
.wrapper .container #first-block {
  width: 100%;
  padding: 0 5%;
  background-image: url(../images/bg-first-screen.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 607px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 133, ../sass/styles.scss */
.wrapper .container #first-block .motto-wrap {
  position: relative;
  padding: 39px 0 60px;
  left: -14px;
  top: 27px;
}
/* line 138, ../sass/styles.scss */
.wrapper .container #first-block .motto-wrap .circle {
  display: block;
  position: absolute;
  height: 245px;
  width: 245px;
  top: 23px;
  left: 33px;
  background: #1D4A96;
  border-radius: 50%;
}
/* line 148, ../sass/styles.scss */
.wrapper .container #first-block .motto-wrap .text {
  position: relative;
  padding: 39px 0 19px;
  z-index: 1;
  margin-left: 65px;
}
/* line 154, ../sass/styles.scss */
.wrapper .container #first-block .motto-wrap .motto-small-text {
  font: 20px "Montserrat-Regular", sans-serif;
  color: #12408E;
  margin: 0;
  padding-left: 107px;
  position: relative;
  top: 12px;
}
/* line 161, ../sass/styles.scss */
.wrapper .container #first-block .motto-wrap .motto-small-text .inside-circle {
  margin-right: 15px;
}
/* line 165, ../sass/styles.scss */
.wrapper .container #first-block .motto-wrap .motto-big-text {
  color: #1D4A96;
  margin: 0;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font: 62px "Montserrat-Regular", sans-serif;
}
/* line 172, ../sass/styles.scss */
.wrapper .container #first-block .motto-wrap span.inside-circle {
  color: white;
  letter-spacing: normal;
}
/* line 178, ../sass/styles.scss */
.wrapper .container #second-block {
  background-color: white;
  max-width: 1004px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0;
  margin-bottom: 91px;
}
/* line 186, ../sass/styles.scss */
.wrapper .container #second-block .text {
  color: #939598;
  font: 12px "Montserrat-Regular", sans-serif;
  margin-bottom: 20px;
}
/* line 191, ../sass/styles.scss */
.wrapper .container #second-block .secondary-title {
  text-align: center;
  color: #12408E;
  font: 64px "acaslonpro-bolditalic", sans-serif;
  margin: 68px 0 27px;
}
/* line 198, ../sass/styles.scss */
.wrapper .container #third-block {
  background-image: url(../images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
/* line 202, ../sass/styles.scss */
.wrapper .container #third-block .blue-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #12408E;
  opacity: 0.4;
}
/* line 211, ../sass/styles.scss */
.wrapper .container #third-block .features-wrap {
  max-width: 1000px;
  width: 90%;
  margin-left: auto;
  position: relative;
  z-index: 1;
  left: -3px;
  margin-right: auto;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 221, ../sass/styles.scss */
.wrapper .container #third-block .features-wrap .feature {
  margin: 65px 0 95px;
  width: 27%;
}
/* line 224, ../sass/styles.scss */
.wrapper .container #third-block .features-wrap .feature .icon-wrap {
  margin-bottom: 50px;
  text-align: center;
  height: 171px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 230, ../sass/styles.scss */
.wrapper .container #third-block .features-wrap .feature .icon-wrap img {
  max-width: 100%;
  width: auto;
  position: relative;
  left: -11px;
  max-height: 100%;
}
/* line 238, ../sass/styles.scss */
.wrapper .container #third-block .features-wrap .feature .feature-desc {
  color: white;
  text-align: center;
  letter-spacing: 0.3px;
  font: 25px "Montserrat-Regular", sans-serif;
}
/* line 246, ../sass/styles.scss */
.wrapper .container #third-block .features-wrap .feature:first-child img {
  left: -33px;
}
/* line 249, ../sass/styles.scss */
.wrapper .container #third-block .features-wrap .feature:nth-child(2) img {
  left: -21px;
}
@media (min-width: 768px) {
  /* line 254, ../sass/styles.scss */
  .wrapper .container #third-block .features-wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 25px 0;
  }
  /* line 259, ../sass/styles.scss */
  .wrapper .container #third-block .features-wrap .feature {
    width: 90%;
    max-width: 450px;
    margin: 20px auto;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  /* line 267, ../sass/styles.scss */
  .wrapper .container #third-block .features-wrap .feature .icon-wrap {
    height: auto;
  }
}
